-  village = "kono"
-  firstName= "Z"
-  lastName = "Ne"
-  rank = "Genin"
-  age = "20"
-  gender = "X"
-  eyeColor = "White"
-  hairColor = "White"
-  height = "5'5"
-  weight = "120lbs"
-  sig = "IDK yet"
-  img = "https://i.imgur.com/JJtX67b.jpg"

link(rel="stylesheet", href="id.sass")